<div style="height:100%">
<h2>Phones List</h2>
<br>
<h3 *ngIf="phoneList.length==0"> No records</h3>
<ng-template *ngIf="phoneList.length>0">
<mat-expansion-panel hideToggle *ngFor="let phone of phoneList">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{phone.modelName}}
    </mat-panel-title>
    <mat-panel-description>
      {{phone.variantName}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <button (click)="deletePhones(phone.modelName)">delete</button>
  <div *ngFor="let score of phone.scoresList">Model {{score.phoneModel}} : {{score.price}}
  
  
</div>
</mat-expansion-panel>
</ng-template>
</div>
