<h3 class="m-2">Add Phone Model</h3>
<form [formGroup]="firstFormGroup" class="container center_div">
    <ng-template matStepLabel>Add Phone Information</ng-template>
    <mat-form-field>
        <mat-label>manufacturer</mat-label>
        <!-- <input matInput placeholder="Brand Name" formControlName="brandName" required> -->
        <mat-select formControlName="manufacturer" (selectionChange)="setManufacturer($event.value)">
            <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer">
                {{manufacturer.displayName}}
            </mat-option>
        </mat-select>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Model Name</mat-label>
        <input matInput placeholder="Model Name" formControlName="modelName" required>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Variants</mat-label>
        <input matInput placeholder="Variants" formControlName="variantName" required>
    </mat-form-field><br>
    <div>
        <button mat-button (click)="addPhoneModel()">Add Phone Model</button>
    </div>
</form>