<div class="container pt-3">
    <div class="jusitfy-content-center mt-4">
        <div class="h2 text-dark text-center shadows-font" style="font-weight: 600;">Hey {{user.name}}!! We have found some phones for you based on your usage and our expert opinion.</div>
        <div class="h2 text-dark text-center shadows-font" style="font-weight: 600;">Take a look at these phones</div>
    </div>
</div>
<div class="container pt-3">
    <ng-template let-phone ngFor [ngForOf]="phoneList" let-i="index">
        <div>
            <app-phone-result-unit [phone]="phone"></app-phone-result-unit>
        </div>
    </ng-template>
</div>