/* #side-nav {
    width: 40vw;
    height: 93vh;
    background-color: rgb(156, 156, 165);
}
mat-sidenav {
    width: 40vw;
}
.example-container {
  height: 100vh;
  width: 100vw;
}
.mat-drawer-inner-container {
  width: 40vw;
} */
/* .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  } */
  
  /* .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  } */
 .sidenav-content {
   min-width: 99vw !important ;
   min-height: 80vh !important;
   /* width: 99vw !important;
   height: 80vh !important; */
 }

 .mat-drawer-opened {
   width: 20vw !important;
 }

.toggle-button {
   float: left;
   margin: 10px;
 }

 .mat-drawer-content {
   overflow: hidden;
   background-color: white;
 }