<!-- <mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')" class="d-flex md-4">
    <div class="row">
        <mat-icon>home</mat-icon>
        <h5>Upload File</h5>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button class="m-2" style="float: right;" (click)="sidenav.toggle()">Panel</button>
    <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{e}}</div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- <div>
  <button mat-raised-button class="toggle-button" (click)="drawer.toggle()">Toggle drawer</button>
</div> -->
<mat-drawer-container autosize style="left: inherit; right:inherit;top: inherit;bottom: inherit;" [hasBackdrop]="false">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item (click)="selected='Add Score'"> Add Score</a>
      <a mat-list-item (click)="selected='Add Manufacturer'"> Add Manufacturer</a>
      <a mat-list-item (click)="selected='Add Phone Model'"> Add Phone Model</a>
      <a mat-list-item (click)="selected='Show Phones'"> Show Phones</a>
    </mat-nav-list>
  </mat-drawer> 
  <mat-drawer-content>
    <app-add-score *ngIf="selected==='Add Score'"></app-add-score>
    <app-add-manufacturer *ngIf="selected==='Add Manufacturer'"></app-add-manufacturer>
    <app-add-phone-model *ngIf="selected==='Add Phone Model'"></app-add-phone-model>
    <app-show-phones *ngIf="selected==='Show Phones'"></app-show-phones>
  </mat-drawer-content>
  <!-- <div class="sidenav-content">
    <app-add-score></app-add-score>
  </div> -->
</mat-drawer-container>
