<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 col-sm-12">

        </div>
        <div class="col-lg-5 col-sm-12">
            <form [formGroup]="loginForm" method="POST">
                <h1>Login</h1>
                <br>
                <!-- <div class="row"> -->
                <div class="row my-3">
                    <mat-form-field class="col-lg-12 col-md-12 col-sm-12">
                        <mat-label>E-mail</mat-label>
                        <input matInput type="text" class="form-control" id="email" name="emailId" formControlName="emailId"/>
                        <mat-hint>Enter your Email Id</mat-hint>
                        <mat-error *ngIf="loginForm.get('emailId').invalid && loginForm.get('emailId').touched">
                            Enter a Valid Email Id
                        </mat-error>
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <mat-label for="name">
                                <span class="text-danger">* </span>Email Id
                            </mat-label>
                            <input matInput type="text" class="form-control" id="name" name="userName" formControlName="userName" />
                            <div>
                                <span [style.visibility]="'hidden'" class="text-danger small">s</span>
                                <span class="text-danger small" id="alert-texts" *ngIf="loginForm.get('userName').invalid && loginForm.get('userName').touched">
                                    Please enter Email Id !
                                </span>
                            </div>
                        </div>
                    </div> -->
                    </mat-form-field>
                </div>
                <!-- </div> -->
                <div class="row my-3">
                <mat-form-field class="col-lg-12 col-md-12 col-sm-12">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" class="form-control" id="pwd" name="passwrd" formControlName="passwrd"/>
                    <mat-hint>Enter your Password</mat-hint>
                    <mat-error *ngIf="loginForm.get('passwrd').invalid && loginForm.get('passwrd').touched">
                        Enter a Valid Password
                    </mat-error>
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <mat-label for="name">
                            <span class="text-danger">* </span>Email Id
                        </mat-label>
                        <input matInput type="text" class="form-control" id="name" name="userName" formControlName="userName" />
                        <div>
                            <span [style.visibility]="'hidden'" class="text-danger small">s</span>
                            <span class="text-danger small" id="alert-texts" *ngIf="loginForm.get('userName').invalid && loginForm.get('userName').touched">
                                Please enter Email Id !
                            </span>
                        </div>
                    </div>
                </div> -->
                </mat-form-field>
            </div>
                <!-- <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="pwd">
                                <span class="text-danger">* </span>Password
                            </label>
                            <input type="password" class="form-control" id="pwd" name="passwrd" formControlName="passwrd" />
                            <div>
                                <span [style.visibility]="'hidden'" class="text-danger small">s</span>
                                <span class="text-danger small" id="alert-texts" *ngIf="loginForm.get('passwrd').invalid && loginForm.get('passwrd').touched">
                                     Please enter password !
                                </span>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row d-flex justify-content-between " id="submit-button">
                    <div class="mb-4 ">&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" type="button" (click)="onSubmit(loginForm)" [disabled]="!loginForm.valid">
                            Login
                        </button>
                    </div>
                    <div class="mb-4 ">
                        New user?
                        <a routerLink="/registration" class="text-success">Signup &nbsp;&nbsp;&nbsp;</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>