<div *ngIf="apiLoadingScreen" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only" id="loading"></span>
  </div>
</div>
<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="container center_div">
      <ng-template matStepLabel>Model Information</ng-template>
      <mat-form-field>
        <mat-label>Brand Name</mat-label>
        <mat-select formControlName="brandName" (selectionChange)="getPhoneModel($event.value)">
          <mat-option *ngFor="let manufacturer of manufacturers" #matOption  [value]="manufacturer">
            {{manufacturer.displayName}}
          </mat-option>
        </mat-select>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Model</mat-label>
        <!-- <input matInput placeholder="Brand Name" formControlName="brandName" required> -->
        <mat-select formControlName="modelName">
          <mat-option *ngFor="let modelName of phoneModelMap" [value]="modelName">
            {{modelName.value}}
          </mat-option>
        </mat-select>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price" formControlName="price" type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out URL of products">
    <form [formGroup]="secondFormGroup" class="container center_div">
      <mat-form-field>
        <mat-label>Spec URL</mat-label>
        <input matInput formControlName="specURL" placeholder="Enter Spec URL" type="url" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Official URL</mat-label>
        <input matInput formControlName="officialURL" placeholder="Enter Official URL" type="url" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup" class="container center_div">
      <ng-template matStepLabel>Build Quality</ng-template>
      <mat-form-field>
        <mat-label>Back Panel</mat-label>
        <input matInput placeholder="Back Panel" formControlName="backPanel" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Back Panel Protection</mat-label>
        <input matInput placeholder="Back Panel Protection" formControlName="backPanelProtection" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Frame</mat-label>
        <input matInput placeholder="Frame" formControlName="frame" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Thickness</mat-label>
        <input matInput placeholder="Thickness" formControlName="thickness" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Weight</mat-label>
        <input matInput placeholder="Weight" formControlName="weight" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Build Quality</mat-label>
        <input matInput placeholder="Build Quality" formControlName="buildQuality" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Water Resistance</mat-label>
        <input matInput placeholder="Water Resistance" formControlName="waterResistance" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(thirdFormGroup)" formControlName="buildQualityTotal"
          type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup" class="container center_div">
      <ng-template matStepLabel>Design</ng-template>
      <mat-form-field>
        <mat-label>Back Panel Finishing</mat-label>
        <input matInput placeholder="Back Panel Finishing" formControlName="backPanelFinishing" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Sim Slot</mat-label>
        <input matInput placeholder="Sim Slot" formControlName="simSlot" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Headphone Jack</mat-label>
        <input matInput placeholder="HeadphoneJack" formControlName="headphoneJack" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Speakers</mat-label>
        <input matInput placeholder="Speakers" formControlName="speakers" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Additional Features</mat-label>
        <input matInput placeholder="additionalFeatures" formControlName="additionalFeatures" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(fourthFormGroup)" formControlName="designTotal"
          type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup" class="container center_div">
      <ng-template matStepLabel>Display</ng-template>
      <mat-form-field>
        <mat-label>Display Size</mat-label>
        <input matInput placeholder="Display Size" formControlName="displaySize" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Display Resolution</mat-label>
        <input matInput placeholder="Display Resolution" formControlName="displayResolution" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Bezels</mat-label>
        <input matInput placeholder="bezels" formControlName="bezels" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Display Type</mat-label>
        <input matInput placeholder="display Type" formControlName="displayType" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Display Protection</mat-label>
        <input matInput placeholder="display protection" formControlName="displayProtection" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Display Peak Brightness</mat-label>
        <input matInput placeholder="Display Peak Brightness" formControlName="displayPeakBrightness" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>HDR Support</mat-label>
        <input matInput placeholder="HDR Support" formControlName="hdrSupport" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Pixel Density</mat-label>
        <input matInput placeholder="Pixel Density" formControlName="pixelDensity" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(fifthFormGroup)" formControlName="displayTotal"
          type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="sixthFormGroup">
    <form [formGroup]="sixthFormGroup" class="container center_div">
      <ng-template matStepLabel>Display Refresh Rate</ng-template>
      <mat-form-field>
        <mat-label>Display Refresh Rate</mat-label>
        <input matInput placeholder="Display Refresh Rate" formControlName="displayRefreshRate" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Touch Sampling Rate</mat-label>
        <input matInput placeholder="Touch Sampling Rate" formControlName="touchSamplingRate" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Additional Display Features</mat-label>
        <input matInput placeholder="Additional Display Features" formControlName="additionalDisplayFeatures"
          type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(sixthFormGroup)" formControlName="refreshRateTotal"
          type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="seventhFormGroup">
    <form [formGroup]="seventhFormGroup" class="container center_div">
      <ng-template matStepLabel>Performance</ng-template>
      <mat-form-field>
        <mat-label>Processor</mat-label>
        <input matInput placeholder="Processor" formControlName="processor" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Core count</mat-label>
        <input matInput placeholder="coreCount" formControlName="coreCount" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>CPU Clock Speed</mat-label>
        <input matInput placeholder="CPU Clock Speed" formControlName="cpuClockSpeed" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>GPU</mat-label>
        <input matInput placeholder="GPU" formControlName="gpu" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Network - SIM</mat-label>
        <input matInput placeholder="Network - SIM" formControlName="networkSim" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Network - WiFi</mat-label>
        <input matInput placeholder="Network - WiFi" formControlName="networkWifi" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Network - Bluetooth</mat-label>
        <input matInput placeholder="Network - Bluetooth" formControlName="networkBluetooth" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Security - Biometric</mat-label>
        <input matInput placeholder="Security - BioMetric" formControlName="securityBiometric" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(seventhFormGroup)"
          formControlName="performanceTotal" type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="eighthFormGroup">
    <form [formGroup]="eighthFormGroup" class="container center_div">
      <ng-template matStepLabel>RAM</ng-template>
      <mat-form-field>
        <mat-label>RAM Capacity</mat-label>
        <input matInput placeholder="RAM " formControlName="ramCapacity" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(eighthFormGroup)" formControlName="ramTotal"
          type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="ninethFormGroup">
    <form [formGroup]="ninethFormGroup" class="container center_div">
      <ng-template matStepLabel>Storage</ng-template>
      <mat-form-field>
        <mat-label>Storage Capacity</mat-label>
        <input matInput placeholder="Storage Capacity" formControlName="storageCapacity" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Expandable Storage</mat-label>
        <input matInput placeholder="Expandable Storage" formControlName="expandableStorage" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(ninethFormGroup)" formControlName="storageTotal"
          type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="tenthFormGroup">
    <form [formGroup]="tenthFormGroup" class="container center_div">
      <ng-template matStepLabel>Rear Camera</ng-template>
      <mat-form-field>
        <mat-label>Primary Camera Aperture</mat-label>
        <input matInput placeholder="Primary Camera Aperture" formControlName="rearPCAperture" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Primary Camera Sensor Size</mat-label>
        <input matInput placeholder="Primary Camera Sensor Size" formControlName="rearPCSensorSize" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Primary Camera Image Stablization</mat-label>
        <input matInput placeholder="Primary Camera Image Stablization" formControlName="rearPCImageStablization"
          type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>2nd Camera Type</mat-label>
        <input matInput placeholder="2nd Camera Type" formControlName="rearSecondCameraType" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>2nd Camera Resolution</mat-label>
        <input matInput placeholder="2nd Camera Resolution" formControlName="rearSecondCameraResolution" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>2nd Camera Aperture</mat-label>
        <input matInput placeholder="2nd Camera Aperture" formControlName="rearSecondCameraAperture" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>2nd Camera Sensor Size</mat-label>
        <input matInput placeholder="2nd Camera Sensor Size" formControlName="rearSecondCameraSensorSize" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>2nd Camera image stablization</mat-label>
        <input matInput placeholder="2nd Camera Image Stablization" formControlName="rearSecondCameraImageStablization"
          type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>2nd Camera Additional Features</mat-label>
        <input matInput placeholder="2nd Camera Additional Features"
          formControlName="rearSecondCameraAdditionalFeatures" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>3rd Camera Type</mat-label>
        <input matInput placeholder="3rd Camera Type" formControlName="rearThirdCameraType" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>3rd Camera Resolution</mat-label>
        <input matInput placeholder="3rd Camera Resolution" formControlName="rearThirdCameraResolution" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>3rd Camera Aperture</mat-label>
        <input matInput placeholder="3rd Camera Aperture" formControlName="rearThirdCameraAperture" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>3rd Camera Sensor Size</mat-label>
        <input matInput placeholder="3rd Camera Sensor Size" formControlName="rearThirdCameraSensorSize" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>3rd Camera image stablization</mat-label>
        <input matInput placeholder="3rd Camera Image Stablization" formControlName="rearThirdCameraImageStablization"
          type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>3rd Camera Additional Features</mat-label>
        <input matInput placeholder="3rd Camera Additional Features" formControlName="rearThirdCameraAdditionalFeatures"
          type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Other Camera Features</mat-label>
        <input matInput placeholder="Other Camera Features" formControlName="rearOtherCameraFeatures" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Image Processing - Photo</mat-label>
        <input matInput placeholder="Image Processing - Photo" formControlName="rearImageProcessingPhoto" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Video Capablity</mat-label>
        <input matInput placeholder="Video Capablity" formControlName="rearVideoCapablity" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Slow Motion Video Capablity</mat-label>
        <input matInput placeholder="Rear Slow Motion Video Capablity" formControlName="rearSlowMotionVideoCapablity"
          type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Special Features</mat-label>
        <input matInput placeholder="Special Features" formControlName="rearSpecialFeatures" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Night Mode</mat-label>
        <input matInput placeholder="Night Mode" formControlName="rearNightMode" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Image Processing - Video</mat-label>
        <input matInput placeholder="Image Processing - Video" formControlName="rearImageProcessingVideo" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(tenthFormGroup)" formControlName="rearCameraTotal"
          type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="eleventhFormGroup">
    <form [formGroup]="eleventhFormGroup" class="container center_div">
      <ng-template matStepLabel>Front Camera</ng-template>
      <mat-form-field>
        <mat-label>Primary Camera Aperture</mat-label>
        <input matInput placeholder="Primary Camera Aperture" formControlName="frontPCAperture" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Primary Camera Sensor Size</mat-label>
        <input matInput placeholder="Primary Camera Sensor Size" formControlName="frontPCSensorSize" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Primary Camera Image Stablization</mat-label>
        <input matInput placeholder="Primary Camera Image Stablization" formControlName="frontPCImageStablization"
          type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>2nd Camera Type</mat-label>
        <input matInput placeholder="2nd Camera Type" formControlName="frontSecondCameraType" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>2nd Camera Resolution</mat-label>
        <input matInput placeholder="2nd Camera Resolution" formControlName="frontSecondCameraResolution" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>2nd Camera Aperture</mat-label>
        <input matInput placeholder="2nd Camera Aperture" formControlName="frontSecondCameraAperture" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>2nd Camera Sensor Size</mat-label>
        <input matInput placeholder="2nd Camera Sensor Size" formControlName="frontSecondCameraSensorSize" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>2nd Camera image stablization</mat-label>
        <input matInput placeholder="2nd Camera Image Stablization" formControlName="frontSecondCameraImageStablization"
          type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>2nd Camera Additional Features</mat-label>
        <input matInput placeholder="2nd Camera Additional Features"
          formControlName="frontSecondCameraAdditionalFeatures" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Other Camera Features</mat-label>
        <input matInput placeholder="Other Camera Features" formControlName="frontOtherCameraFeatures" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Image Processing - Photo</mat-label>
        <input matInput placeholder="Image Processing - Photo" formControlName="frontImageProcessingPhoto" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Video Capablity</mat-label>
        <input matInput placeholder="Video Capablity" formControlName="frontVideoCapablity" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Special Features</mat-label>
        <input matInput placeholder="Special Features" formControlName="frontSpecialFeatures" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Image Processing - Video</mat-label>
        <input matInput placeholder="Image Processing - Video" formControlName="frontImageProcessingVideo" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(eleventhFormGroup)"
          formControlName="frontCameraTotal" type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="twelvethFormGroup">
    <form [formGroup]="twelvethFormGroup" class="container center_div">
      <ng-template matStepLabel>Battery</ng-template>
      <mat-form-field>
        <mat-label>Battery Capacity</mat-label>
        <input matInput placeholder="Battery Capacity" formControlName="batteryCapacity" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Charging Interface</mat-label>
        <input matInput placeholder="Charging Interface" formControlName="chargingInterface" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Battery Optimization</mat-label>
        <input matInput placeholder="Battery Optimization" formControlName="batteryOptimization" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(twelvethFormGroup)" formControlName="batteryTotal"
          type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirteenthFormGroup">
    <form [formGroup]="thirteenthFormGroup" class="container center_div">
      <ng-template matStepLabel>Charging Speed</ng-template>
      <mat-form-field>
        <mat-label>Charger Rating</mat-label>
        <input matInput placeholder="Charger Rating" formControlName="chargerRating" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Wireless Charging Support</mat-label>
        <input matInput placeholder="Wireless Charging Support" formControlName="wirelessChargingSupport" type="number"
          required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Reverse Charging</mat-label>
        <input matInput placeholder="Reverse charging" formControlName="reverseCharging" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Additional Features</mat-label>
        <input matInput placeholder="Additional Features" formControlName="additionalFeatures" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(thirteenthFormGroup)"
          formControlName="chargingSpeedTotal" type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourteenthFormGroup">
    <form [formGroup]="fourteenthFormGroup" class="container center_div">
      <ng-template matStepLabel>Software</ng-template>
      <mat-form-field>
        <mat-label>OS Version</mat-label>
        <input matInput placeholder="OS Version" formControlName="osVersion" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>User Interface</mat-label>
        <input matInput placeholder="UserInterface" formControlName="userInterface" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(fourteenthFormGroup)"
          formControlName="softwareTotal" type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fifteenthFormGroup">
    <form [formGroup]="fifteenthFormGroup" class="container center_div">
      <ng-template matStepLabel>Inhouse Rating</ng-template>
      <mat-form-field>
        <mat-label>Customer Support</mat-label>
        <input matInput placeholder="Customer Support" formControlName="customerSupport" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Service Support</mat-label>
        <input matInput placeholder="Service Support" formControlName="serviceSupport" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Innovation</mat-label>
        <input matInput placeholder="Innovation" formControlName="innovation" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Editor Rating</mat-label>
        <input matInput placeholder="Editor Rating" formControlName="editorRating" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Critic Rating</mat-label>
        <input matInput placeholder="Critic Rating" formControlName="criticRating" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Third Party Score</mat-label>
        <input matInput placeholder="Third Party Score" formControlName="thirdPartyScore" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Exclusive Factor</mat-label>
        <input matInput placeholder="Exclusive Factor" formControlName="exclusiveFactor" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(fifteenthFormGroup)" formControlName="inhouseTotal"
          type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="sixteenthFormGroup">
    <form [formGroup]="sixteenthFormGroup" class="container center_div">
      <ng-template matStepLabel>Retailer Promotion</ng-template>
      <mat-form-field>
        <mat-label>Demo Unit</mat-label>
        <input matInput placeholder="Demo Unit" formControlName="demoUnit" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Margin</mat-label>
        <input matInput placeholder="Margin" formControlName="margin" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Brand Promoter</mat-label>
        <input matInput placeholder="Brand Promoter" formControlName="brandPromoter" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Schemes</mat-label>
        <input matInput placeholder="Schemes" formControlName="schemes" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Extra Credit</mat-label>
        <input matInput placeholder="Extra Credit" formControlName="extraCredit" type="number" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Total</mat-label>
        <input matInput placeholder="Total" [value]="calculateTotal(sixteenthFormGroup)"
          formControlName="retailerPromotionTotal" type="number" required>
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button (click)="stepper.reset()">Add Another</button>
    </div>
  </mat-step>
</mat-vertical-stepper>