.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
.mat-form-field {
   margin-top: 16px;
}
.center_div{
  display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
::ng-deep .mat-step-header [ng-reflect-selected="false"] {
  visibility: hidden !important;
}
::ng-deep .mat-step-header[aria-selected="false"] {
  display: none;
}
::ng-deep .mat-stepper-vertical-line {
  visibility: hidden;
}
#loading{ 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  z-index: 1; 
  width: 150px; 
  height: 150px; 
  margin: -75px 0 0 -75px; 
  border: 16px solid #f3f3f3; 
  border-radius: 50%; 
  border-top: 16px solid #3498db; 
  width: 120px; 
  height: 120px; 
  animation: spin 2s linear infinite; 
  } 
    
  @keyframes spin { 
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
  }