::ng-deep .mat-stepper-vertical {
    height: 82vh !important;
}
::ng-deep .mat-vertical-stepper-content[aria-expanded="true"] {
    height: 80vh !important;
  }
  ::ng-deep .mat-vertical-stepper-content[aria-expanded="false"] {
    opacity: 0;
  }
  ::ng-deep .mat-step-header[aria-selected="false"] {
    display: none;
  }
  ::ng-deep .mat-step-header[aria-selected="true"] {
    display: none;
  }
  ::ng-deep .mat-vertical-content {
      display: 100%;
  }

  ::ng-deep .mat-stepper-vertical-line {
      visibility: hidden;
  }

  ::ng-deep .ng-trigger-stepTransition {
      transition-duration: 3s;
  }
  #DialogSpinnerComponenet {
      box-shadow: none !important;
      background: transparent !important;
  }

  ::ng-deep .ng5-slider-pointer-min:focus {
      outline-color: transparent !important;
  }
  ::ng-deep .ng5-slider-pointer-max:focus {
      outline-color: transparent !important;
  }
  ::ng-deep .ng5-slider .ng5-slider-pointer {
      outline-color: transparent !important;
  }