<!-- <mat-spinner value="10"></mat-spinner> -->
<mat-vertical-stepper fxLayout #stepper class="m-2">
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required." style="height: 100%;">
      <form [formGroup]="firstFormGroup" (submit)="setName()" class="pt-3 container">
        <div class="mt-5 col-md-12 justify-content-center">
          <!-- <ng-template matStepLabel>Fill out your name</ng-template> -->
          <div class="mx-auto d-block justify-content-center">
            <div class="justify-content-center mt-5">
              <div class="justify-contetn-center">
                <h5 class="mx-auto d-block text-center shadows-font" style="font-weight: 600;">
                  Hi, Phone Suggest is your Personalised smartphone suggestion. Just sit back tell us your preferences. We will suggest a great device tailored for you.
                </h5>
              </div>
            </div>
            <div class="justify-content-center mt-5">
              <div class="justify-contetn-center">
                <h5 class="mx-auto d-block text-center shadows-font" style="font-weight: 600;">
                  Well let us know about you a bit more
                </h5>
              </div>
            </div>
            <mat-form-field class="mx-auto d-block mt-4">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="name" required>
            </mat-form-field>
            <div class="justify-content-center mt-5" style="visibility: hidden;">
              <div class="justify-content-center">
                <h5 class="mx-auto d-block text-center shadows-font" style="font-weight: 600;">
                  Go to a different step to see the error state
                </h5>
              </div>
              <button mat-raised-button matStepperNext color="primary" class="mx-auto d-block mt-5">Next</button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required." style="height: 100%;">
      <form [formGroup]="secondFormGroup" (submit)="setEmail()" class="pt-3 container">
        <div class="mt-5 col-md-12 justify-content-center">
          <!-- <ng-template matStepLabel>Fill out your name</ng-template> -->
          <div class="mx-auto d-block justify-content-center">
            <div class="justify-content-center mt-5">
              <div class="justify-contetn-center">
                <h5 class="mx-auto d-block text-center shadows-font" style="font-weight: 600;">
                  Hi {{user.name}}, Please Tell us your E-mail Id
                </h5>
              </div>
            </div>
            <mat-form-field class="mx-auto d-block">
              <mat-label>E-mail Id</mat-label>
              <input matInput placeholder="abc@xyz.com" formControlName="EmailId" required>
            </mat-form-field>
            <div class="justify-content-center mt-5" style="visibility: hidden;">
              <div class="justify-content-center">
                <h5 class="mx-auto d-block text-center shadows-font" style="font-weight: 600;">
                  Go to a different step to see the error state
                </h5>
              </div>
              <button mat-raised-button matStepperNext color="primary" class="mx-auto d-block mt-5">Next</button>
            </div>
          </div>
        </div>
        <!-- <ng-template matStepLabel>Fill out your address</ng-template> -->
        
        <!-- <div>
          <p>Go to a different step to see the error state</p>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div> -->
      </form>
    </mat-step>
    <mat-step style="height: 100%;">
      <form [formGroup]="thirdFormGroup" class="pt-3 container">
        <div class="mt-5 col-md-12 justify-content-center">
          <!-- <ng-template matStepLabel>Fill out your name</ng-template> -->
          <div class="mx-auto d-block justify-content-center">
            <!-- <div class="justify-content-center mt-5">
              <div class="justify-contetn-center">
                <h5 class="mx-auto d-block text-center shadows-font" style="font-weight: 600;">
                  Yep, That's it. Lets Find out a Perfect Phone for you
                </h5>
              </div>
            </div> -->
            <div class="justify-content-center mt-5">
              <div class="justify-contetn-center">
                <h5 class="mx-auto d-block text-center shadows-font" style="font-weight: 600;">
                  Select your Budget range
                </h5>
              </div>
              <ng5-slider [(highValue)]="maxValue" [(value)] ="value" [options]="options"></ng5-slider>
            </div>
            <!-- <mat-form-field class="mx-auto d-block">
              <mat-label>E-mail Id</mat-label>
              <input matInput placeholder="abc@xyz.com" formControlName="EmailId" required>
            </mat-form-field> -->
            <div class="justify-content-center mt-5">
              <div class="justify-content-center" style="visibility: hidden;">
                <h5 class="mx-auto d-block text-center shadows-font" style="font-weight: 600;">
                  Go to a different step to see the error state
                </h5>
              </div>
              <button mat-raised-button matStepperNext color="primary" class="mx-auto d-block mt-5">Done</button>
            </div>
          </div>
        </div>
        <!-- <ng-template matStepLabel>Fill out your address</ng-template> -->
        
        <!-- <div>
          <p>Go to a different step to see the error state</p>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div> -->
      </form>
      </mat-step>
      <mat-step style="height: 100%;">
        <form [formGroup]="fourthFormGroup" class="pt-3 container" (submit)="submit()">
          <div class="mt-5 col-md-12 justify-content-center">
            <!-- <ng-template matStepLabel>Fill out your name</ng-template> -->
            <div class="mx-auto d-block justify-content-center">
              <div class="justify-content-center mt-5">
                <div class="justify-contetn-center">
                  <h5 class="mx-auto d-block text-center shadows-font" style="font-weight: 600;">
                    Thats Great. One Final Question for you. Please select the top 3 priorities in your future phone
                  </h5>
                </div>
              </div>
              <div class="justify-content-center mt-5">
                <mat-chip-list multiple aria-label="Phone Features">
                  <div class="row justify-content-around container my-2">
                    <mat-chip class="mx-auto d-block" #processor [selected]="processor.selected" (click)="matclick(processor,0)">Great Processor</mat-chip>
                    <mat-chip class="mx-auto d-block" #battery [selected]="battery.selected"  (click)="matclick(battery,1)">Awesome Battery</mat-chip>
                    <mat-chip class="mx-auto d-block" #frontCamera [selected]="frontCamera.selected"  (click)="matclick(frontCamera,2)">Pro Rear Camera</mat-chip>
                  </div>
                  <br>
                  <div class="row justify-content-around container my-2">
                    <mat-chip class="mx-auto d-block" #rearCamera [selected]="rearCamera.selected"  (click)="matclick(rearCamera,3)">Great Facetime Camera</mat-chip>
                    <mat-chip class="mx-auto d-block" #build [selected]="build.selected"  (click)="matclick(build,4)">Built like a tank</mat-chip>
                  </div>
                  <br>
                  <div class="row justify-content-around container my-2">
                    <mat-chip class="mx-auto d-block" #software [selected]="software.selected"  (click)="matclick(software,5)">Usable OS</mat-chip>
                    <mat-chip class="mx-auto d-block" #ram [selected]="ram.selected"  (click)="matclick(ram,6)">Tired of closing apps?</mat-chip>
                  </div>
                  <br>
                  <div class="row justify-content-around container my-2">
                    <mat-chip class="mx-auto d-block" #design [selected]="design.selected"  (click)="matclick(design,7)">Beautiful design</mat-chip>
                    <mat-chip class="mx-auto d-block" #display [selected]="display.selected"  (click)="matclick(display,8)">A theatre on your hand?</mat-chip>
                    <mat-chip class="mx-auto d-block" #charging [selected]="charging.selected"  (click)="matclick(charging,9)">Charging</mat-chip>
                  </div>
                  <div class="row justify-content-around container my-2">
                    <mat-chip class="mx-auto d-block" #storage [selected]="storage.selected"  (click)="matclick(storage,10)">Store more data</mat-chip>
                    <mat-chip class="mx-auto d-block" #refreshRate [selected]="refreshRate.selected"  (click)="matclick(refreshRate,11)">Smooth AF</mat-chip>
                  </div>
                </mat-chip-list>
              </div>
              <!-- <mat-form-field class="mx-auto d-block">
                <mat-label>E-mail Id</mat-label>
                <input matInput placeholder="abc@xyz.com" formControlName="EmailId" required>
              </mat-form-field> -->
              <div class="justify-content-center mt-5">
                <div class="justify-content-center" style="visibility: hidden;">
                  <h5 class="mx-auto d-block text-center shadows-font" style="font-weight: 600;">
                    Go to a different step to see the error state
                  </h5>
                </div>
                <div class="col-md-12 text-center my-3">
                  <button mat-raised-button matStepperNext color="primary">Done</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <ng-template matStepLabel>Fill out your address</ng-template> -->
          
          <!-- <div>
            <p>Go to a different step to see the error state</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div> -->
        </form>
        </mat-step>
  </mat-vertical-stepper>
  
