<p>phone-result-unit works! {{phone.phoneModel}}</p>
<div class="container">
    <div class="card">
        <div class="row card-block">
            <div class="col-md-3">
                <img class="oversize" src="https://image01.oneplus.net/ebp/202003/05/1-m00-11-9a-rb8bwl5gw3ialzmhaahhm3d1osy859_840_840.png">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <h2 class="col-md-6"> Phone Model</h2>
                    <h2 class="col-md-6"> {{phone.phoneModel}}</h2>
                </div>
                <div class="row">
                    <h2 class="col-md-6"> Phone Price</h2>
                <h2 class="col-md-6"> {{phone.phoneModel}}</h2>
                </div>
                
            </div>
        </div>
    </div>
    
</div>
