<!-- <div class="navbar bg-dark justify-content-center fixed-bottom">
    <h4 class="text-light">Copyright 2020 All rights reserved</h4>
</div> -->
<footer class="sticky-footer font-small blue bg-light">

    <!-- Copyright -->
    <div class=" text-center py-3">© 2020 Copyright:
      <a href="#"> Admonitous.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>