<!-- <div class="navbar sticky-top navbar-light bg-light navbar-expand-sm">
    <div class="nav row ml-2">
        <img class="navbar-brand" src="https://cdn.shopify.com/s/files/1/2600/3440/files/tenet_round_solidblack.png" id="admonitusLogo" style="width: 40px;"/>
        <h3 class="text-dark mt-1">Admonitus</h3>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon" style="color: white;"></span>
    </button>
    <div class="collapse navbar-collapse mr-auto" id="navbar">
        <ul class="collapse navbar-collapse navbar-nav nav justify-content-end pr-3" id="navbar">
            <li class="mr-2">
                <a class="text-dark" style="text-decoration: none;" href="#">
                    <h5> Best Phones</h5>
                </a>
            </li>
            <li class="ml-2">
                <a class="text-dark" style="text-decoration: none;" (click)='navigateToLogin()'>
                    <h5>Login</h5>
                </a>
            </li>
        </ul>
    </div>
</div> -->
<mat-toolbar color="primary">
    <mat-toolbar-row class=" navbar-expand-md justify-content-between">
        <div class="nav ml-2">
            <h1 class="mt-1">Admonitus</h1>
        </div>
      <!-- <span class="menu-spacer"></span> -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="collapse navbar-collapse navbar-nav nav justify-content-end pr-3" id="navbar">
            <li class="mr-2">
                <a style="text-decoration: none;">
                    <h5> Best Phones</h5>
                </a>
            </li>
            <li class="ml-2">
                <a style="text-decoration: none;" (click)='navigateToLogin()'>
                    <h5>Login</h5>
                </a>
            </li>
        </ul>
      </div>
      <button mat-icon-button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>