/* You can add global styles to this file, and also import other style files */
.shadows-font {
    font-family: 'Shadows Into Light',cursive;
}
html,
/* body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
} */

/* #main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

footer {
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
} */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
#wrapper {
  min-height: 100%;
  position: relative;
}
#content {
  padding-bottom: 100px;
  /* Height of the footer element */
}
#footer {
  width: 100%;
  height: 50px;
  background-color: lightgrey;
  position: absolute;
  bottom: 0;
  left: 0;
}