<div class="container pt-3" style="width: 100%;">
    <div class="jusitfy-content-center mt-4">
        <div class="h2 text-dark text-center shadows-font" style="font-weight: 600;">Tell us what you want. We will tell you what you need</div>
        <img class="mx-auto d-block" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone11-white-select-2019?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1566956148115" style="width: 470px; height:556px">
    </div>
    <div class="jusitfy-content-center mt-4 my-5">
        <!-- <button class="mx-auto d-block text-light px-4 py-3 rounded-pill" style="background-color: green; border-color: none; border:none;">
            Get Started
        </button> -->
        <button class="mx-auto d-block" mat-raised-button color="primary" (click)="openModal()">
            Get started
        </button>
    </div>
</div>

