<!-- <h3 class="ml-2 mt-2" style="background-color: white;">Add Manufacturer</h3> -->
<div class="m-3 mat-step-label mat-step-label-active mat-step-label-selected">
    Add Manufacturer
</div>
<form [formGroup]="manufacturerFormGroup" class="container center_div m-2" style="background-color: white;">
    <ng-template matStepLabel>Model Information</ng-template>
    <mat-form-field>
        <mat-label>Manufacuter Name</mat-label>
        <input matInput placeholder="Manufacturer Name" formControlName="manufacturer_name" required>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Manufacuter Display</mat-label>
        <input matInput placeholder="Manufacturer Display Name" formControlName="manufacturer_display_name" required>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Manufacuter Name</mat-label>
        <input matInput placeholder="Manufacturer Parent Company" formControlName="manufacturer_parent_company" required>
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Manufacuter Origin</mat-label>
        <input matInput placeholder="Manufacturer Origin" formControlName="manufacturer_origin" required>
    </mat-form-field><br>
    <div>
        <button mat-button>Add Manufacuters</button>
    </div>
</form>